<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user form</title>
    <div th:replace="fragments/header :: header-css"></div>
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <p class="navbar-brand text-white">
            <b><span class="align-middle" th:utext="${currentUser.getUsername()}"></span></b>
            <span class="align-middle">with roles:</span>
            <span class="align-middle" th:utext="${currentUser.getRolesString()}"></span>
        </p>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            <form action="#" th:action="@{/edit-user}" th:object="${currentUser}" method="post">
                <div class="form-group">
                    <label for="edit_id">ID</label>
                    <input readonly type="number" th:field="*{id}" th:value="*{getId()}" class="form-control" id="edit_id" placeholder="ID">
                </div>
                <div class="form-group">
                    <label for="edit_username">User Name</label>
                    <input type="text" th:field="*{username}" th:value="*{getUsername()}" class="form-control" id="edit_username" placeholder="UserName">
                </div>
                <div class="form-group">
                    <label for="edit_firstName">First Name</label>
                    <input type="text" th:field="*{firstName}" th:value="*{getFirstName()}" class="form-control" id="edit_firstName" placeholder="FirstName">
                </div>
                <div class="form-group">
                    <label for="edit_lastName">Last Name</label>
                    <input type="text" th:field="*{lastName}" th:value="*{getLastName()}" class="form-control" id="edit_lastName" placeholder="LastName">
                </div>
                <div class="form-group">
                    <label for="edit_email">Email</label>
                    <input type="email" th:field="*{email}" th:value="*{getEmail()}" class="form-control" id="edit_email" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="edit_password">Password</label>
                    <input type="password" th:field="*{password}" class="form-control" id="edit_password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="edit_roles">Role</label>
                    <select multiple class="form-control" id="edit_roles" th:field="*{roles}">
                        <option th:each="role : ${user_roles}"
                                th:selected="${role.getName()}"
                                th:text="${role.getName()}"
                                th:value = "${role.getId()}">
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-secondary" th:href="@{/admin}">Close</a>
                    <button type="submit" class="btn btn-primary">Edit</button>
                </div>
            </form>
            </div>
    </div>
</div>
</body>
</html>